@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
  --primary-color: #0d89a5;
  --secondary-color: #000000;
  --tertiary-color: #ffffff;
  
}
body{
  margin: 0;
  font-family: 'Source Sans 3', 'sans serif';
}
.view-all-button {
  border: 1px solid #ab8e66;
  padding: 9px 13px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 5px;
  display: flex;
  justify-self: center;
  text-decoration: none;
}
.view-all-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
