@import './App.css';

.loader-container{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader-container video{
      width: 70px;
      height: 70px;
     
}
.preloader-tagline {
    font-family: 'Great Vibes', serif;
    font-size: 1.2rem;
    color: #555;
    margin-top: 1rem;
    opacity: 0;
    animation: fadeInTagline 1.5s ease forwards 1s;
    z-index: 2;
  }
  
  @keyframes fadeInTagline {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }