@import "../styles/App.css";

.header {
  position: sticky;
  transition: .2s opacity 0.5s ease, .3s transform 0.5s ease;
}

.header.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.header.visible {
  opacity: 1;
  transform: translateY(0);
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px 0px 20px;
  /* position: fixed; */
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 22;
  height: 70px;
  background-color: var(--secondary-color);
}
.searchbox {
  display: flex;
  align-items: center;
}
.search-button-container {
  background-color: var(--primary-color);
  padding: 0px 12px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -8px;
  cursor: pointer;
}
.search-button-container img{
  width: 25px;
}
.search-button-container:hover {
  background-color: #d5b383;
}
.search-input {
  padding: 6px 12px;
  width: 18rem;
  border: 1px solid #ab8e66;
  border-radius: 6px;
}
/*  */
.searchbox {
  position: relative;

}


.placeholder-text {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #6e6e6e;
  pointer-events: none;
  transition: opacity 0.4s ease;
  font-size: 13px;
}

.bounce-in {
  animation: bounceIn 0.7s ease;
  opacity: 1;
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

@keyframes bounceIn {
  0% {
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  60% {
    transform: translateY(-60%) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*  */
.searchbox input:focus {
  outline: none;
  box-shadow: 1px 2px 5px #f5d7ac67;
}
nav .right {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .right div:hover {
  cursor: pointer;
  transform: scale(1.04);
}
nav .right div img {
  width: 30px;
  height: 30px;
}
.cart-container {
  position: relative;
}
.cart-counter-container {
  position: absolute;
  top: -2px;
  left: 18px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-size: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 870px) {
  .loris-logo {
    width: 130px;
    height: 70px;
  }
  nav {
    align-items: center;
  }
}
@media (max-width: 730px) {
  .searchbox input {
    padding: 6px 12px;
    width: 13rem;
  }
  nav {
    padding: 0px 20px 0px 20px;
    align-items: center;
  }
}
@media (max-width: 580px) {
  nav {
    padding: 0px 10px 0px 10px;
  }
  .loris-logo {
    width: 70px;
    height: 20px;
  }
  
}
@media (max-width: 470px) {
  nav .right {
    gap: 10px;
  }
  nav {
    padding: 0px 8px 0px 4px;
  }
  .searchbox input {
    padding: 3.65px;
    width: 10rem;
  }

  .search-button-container img {
    width: 20px;
  }
}
@media (max-width: 340px) {
  nav .right {
    gap: 3px;
  }

  .searchbox input {
    padding: 7px;
    width: 6rem;
  }

  .search-button-container img {
    width: 20px;
  }
}

